<launch>
  
  <arg name="sim" default="true" />

  <node pkg="turtle_interface" name="turtle_interface" type="turtlebot.py" output="screen" />

  <group if="$(arg sim)">
    <remap from="/turtle1/cmd_vel" to="/cmd_vel_mux/input/navi" />
    <node pkg="turtlesim" name="turtlesim" type="turtlesim_node" output="screen" />
    <node pkg="turtle_handlers" name="turtle_handlers" type="sim_map_pub.py" />
  </group>

  <group unless="$(arg sim)">
  </group>

</launch>
