{% extends 'base.html' %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-2" id="left_column">
            <ul class="nav nav-stacked" id="sidebar">
              <li><a href="#create_tour">Create Tour</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div id="create_tour">
                <h3>Create Tour</h3>
                <p>Enter name of tour</p>
                <form class="navbar-form navbar-left" method="post">
                  {{form.hidden_tag()}}
                  <div class="form-group">
                    {{ form.name(size=30, maxlength=140) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{% endblock %}
