<html>
<head>
  <title>turtlebot move!</title>
  <h1>Move</h1>
</head>

<body>
  <div id="mvcanvasdiv">
    <canvas id="mvcanvas" width="800" height="500" style="position: absolute; z-index: 5; left: 288px; top: 0px; -ms-touch-action: none;">
    </canvas>
  </div>

  <script src="static/js/socket.io.js"></script>
  <script src="static/js/jquery-2.1.1.min.js"></script>
  <script src="static/js/gamecontroller.min.js"></script>
  <script src="static/js/drive.js"></script>
  <script>
    var canvas = document.getElementById("mvcanvas");
    var socket = io.connect('http://'+document.domain+':'+location.port+'drive')
    canvas.addEventListener('keydown', doKeyDown, true);

    canvas_context = canvas.getContext("2d");
    canvas_context.fillStyle("green");
    canvas_context.font = "bold 16px Arial";

    function doKeyDown(e) {
      if (e.keycode == 87) {          // w
        socket.emit('move', { 1, 0});
        canvas_context.fillText("up", 100, 100);
      }
      if (e.keycode == 83) {          // s
        socket.emit('move', {-1, 0});
        canvas_context.fillText("down", 100, 100);
      }
      if (e.keycode == 65) {          // a
        socket.emit('move', { 0, 1});
        canvas_context.fillText("left", 100, 100);
      if (e.keycode == 68) {          // d
        socket.emit('move', { 0,-1});
        canvas_context.fillText("right", 100, 100);
      }
    }
  </script>

</body>

</html>
