<html>
<head>
  <title>move</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
      <div class="row" id="buttons"> 
          <button id="up">Up</button>
          <button id="down">Down</button>
          <button id="left">Left</button>
          <button id="right">Right</button>
      </div>
      <div class="row">
          <h2>Voice command description</h2>
      </div>
  </div>


  <script src="static/js/socket.io.min.js"></script>
  <script src="static/js/jquery-2.1.1.min.js"></script>
  <script src="static/js/annyang.min.js"></script>
  <script src="static/js/drive.js"></script>
  <script>
    if (annyang) {
      // Let's define our first command. First the text we expect, and then the function it should call
      var commands = {
        '*words': function(words) {
            console.log(words);
        }
      };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening. You can call this here, or attach this call to an event, button, etc.
      annyang.start();
    }
  </script>
</body>

</html>
