{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-3" id="left_column">
            <button id="play-button" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-play"></span> Play  
            </button>
            <ul class="nav nav-pills nav-stacked tour-bar" id="sidebar" role="tablist">
            </ul>
        </div>
        <div class="col-md-9" >
            <div id="content" class="tab-content">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/annyang.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
<script>
    var tour = {{ tour | safe }};
</script>
<script src="{{ url_for('static', filename='js/tour.js') }}"></script>
{% endblock %}
